
.sand-game-component {
}

.sand-game-component.drag-and-drop-highlight {
    outline: rgba(0, 129, 255, 0.76) dashed thick;
    outline-offset: 2px;
}

.sand-game-component .sand-game-canvas {
    margin-top: 4pt;
    outline: 1px solid #b7b7b7;
    cursor: crosshair;
    user-select: none;
}

.sand-game-component .sand-game-brushes {
    display: inline-block;
    user-select: none;
}

.sand-game-component .sand-game-brushes .badge {
    margin-right: 3pt;
    padding: 0.4em 0.4em;
    border: none;
}

.sand-game-component .sand-game-brushes .badge.air {
    background-color: rgb(230, 230, 230);
    color: black;
}

.sand-game-component .sand-game-brushes .badge.sand {
    background-color: rgb(183, 166, 67);
}

.sand-game-component .sand-game-brushes .badge.soil {
    background-color: rgb(142, 104, 72);
}

.sand-game-component .sand-game-brushes .badge.gravel {
    background-color: rgb(101, 101, 101);
}

.sand-game-component .sand-game-brushes .badge.wall {
    background-color: rgb(56, 56, 56);
}

.sand-game-component .sand-game-brushes .badge.water {
    background-color: rgb(4, 135, 186);
}

.sand-game-component .sand-game-brushes .badge.fire {
    background-color: #ff5900;
}

.sand-game-component .sand-game-brushes .badge.meteor {
    background-color: #ff5900;
}

.sand-game-component .sand-game-brushes .badge.selected {
    outline: red solid 1px;
}

.sand-game-component .sand-game-options {
    white-space: nowrap;
    display: inline-block;
}

.sand-game-component .sand-game-options .btn {
    color: gray;
    padding: 0 0.5em 0 0.5em;
    margin-right: 0.5em;
    vertical-align: baseline;
    font-size: 75%;
}

.sand-game-component .sand-game-options .dropdown-menu {
    user-select: none;
    font-size: small;
}

.sand-game-component .sand-game-options .status-stopped {
    color: blue;
}

.sand-game-component .sand-game-options .status-best {
    color: green;
}

.sand-game-component .sand-game-options .status-good {
    color: green;
}

.sand-game-component .sand-game-options .status-medium {
    color: #ffcc00;
}

.sand-game-component .sand-game-options .status-low {
    color: #ff4400;
}

.sand-game-component .sand-game-options .status-poor {
    color: red;
}

.sand-game-component .sand-game-views:has(div) {
    margin: 2em 0;
}

.sand-game-component .sand-game-views .element-size-options {
    white-space: nowrap;
}

.sand-game-component .sand-game-views .element-size-options .card {
    cursor: pointer;
    display: inline-block;
    margin: 0.5em 0.5em 0.5em 0;
    width: 48pt;
    height: 32pt;
    user-select: none;
}

.sand-game-component .sand-game-views .element-size-options .card img {
    width: 47pt;
    height: 31pt;
    border-radius: 0.25rem;
}

.sand-game-component .sand-game-views .element-size-options .card.selected-size {
    background-color: #ffffbd;
}

.sand-game-component .sand-game-views .scenes {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.sand-game-component .sand-game-views .scenes .card {
    cursor: pointer;
    display: inline-block;
    margin: 0.5em 0.5em 0.5em 0;
    width: 110pt;
    height: 80pt;
    user-select: none;
}

.sand-game-component .sand-game-views .scenes .card .card-title {
    font-weight: 500;
    line-height: 2;
    font-size: 100%;
}

.sand-game-component .sand-game-views .scenes .card p {
    font-size: 75%;
}

.sand-game-component .sand-game-views .scenes .card.visited-scene {
    background-color: #ebebeb;
}

.sand-game-component .sand-game-views .scenes .card.selected-scene {
    background-color: #ffffbd;
}

.sand-game-component .sand-game-views .card {
    margin: 0.5em 0;
}

.sand-game-component .load-and-sav-tools {
    margin: 0.5em 0.5em 0.5em 0;
}

.sand-game-component .load-and-save-tools .btn {
    margin-right: 0.5em;

    color: gray;
    padding: 0 0.5em 0 0.5em;
    font-size: 75%;
}

.sand-game-component .test-tools .btn {
    margin-right: 0.5em;

    padding: 0 0.5em 0 0.5em;
    font-size: 75%;
}

.sand-game-template-editor {
    font-family: monospace;
}
