
/*
 * @author Patrik Harag
 * @version 2023-08-10
 */

.sand-game-component {
}

.sand-game-component.drag-and-drop-highlight {
    outline: rgba(0, 129, 255, 0.76) dashed thick;
    outline-offset: 2px;
}

.sand-game-component .sand-game-canvas-component .sand-game-canvas {
    outline: 1px solid #b7b7b7;
}

@media (max-width: 575px) {
    .sand-game-component .sand-game-canvas-component {
        margin-left: -15px;
        margin-right: -15px;
    }

    .sand-game-component .sand-game-canvas-component .sand-game-canvas {
        outline: none;
    }
}

.sand-game-component .sand-game-canvas-overlay {
    cursor: crosshair;
    user-select: none;
}

.sand-game-component .sand-game-tools {
    display: inline-block;
    user-select: none;
    margin-bottom: 4pt;
}

.sand-game-component .sand-game-tools .badge {
    margin-right: 3pt;
    padding: 0.4em 0.4em;
    border: none;
}

.sand-game-component .badge.air {
    background-color: rgb(230, 230, 230);
    color: black;
    margin-right: 0.8em;
}

.sand-game-component .badge.sand {
    background-color: rgb(183, 166, 67);
}

.sand-game-component .badge.soil {
    background-color: rgb(142, 104, 72);
}

.sand-game-component .badge.gravel {
    background-color: rgb(101, 101, 101);
}

.sand-game-component .badge.wall {
    background-color: rgb(56, 56, 56);
}

.sand-game-component .badge.wood {
    background-color: rgb(87, 48, 5);
}

.sand-game-component .badge.water {
    background-color: rgb(4, 135, 186);
}

.sand-game-component .badge.fire {
    background-color: #ff5900;
}

.sand-game-component .badge.fire.selected {
    outline: black solid 1px;
}

.sand-game-component .badge.meteor {
    background-color: #ff5900;
}

.sand-game-component .badge.meteor.selected {
    outline: black solid 1px;
}

.sand-game-component .badge.template {
    background-color: #82309d;
    margin-left: 0.4em;
}

.sand-game-component .badge.selected {
    outline: red solid 1px;
}

.sand-game-component .sand-game-options {
    white-space: nowrap;
    display: inline-block;
}

.sand-game-component .sand-game-options .btn {
    color: gray;
    padding: 0 0.5em 0 0.5em;
    margin-right: 0.5em;
    vertical-align: baseline;
    font-size: 75%;
}

.sand-game-component .sand-game-options .btn .bi {
    width: 12px;
    height: 12px;
    vertical-align: -1px;
}

.sand-game-component .sand-game-options .dropdown-menu .btn {
    font-size: 100%;
}

.sand-game-component .sand-game-options .dropdown-menu {
    user-select: none;
    font-size: small;
}

@media (max-width: 575px) {
    .sand-game-component .sand-game-options .status-label {
        display: none;
    }
}

.sand-game-component .sand-game-options .status-stopped {
    color: blue;
}

.sand-game-component .sand-game-options .status-best {
    color: green;
}

.sand-game-component .sand-game-options .status-good {
    color: green;
}

.sand-game-component .sand-game-options .status-medium {
    color: #ffcc00;
}

.sand-game-component .sand-game-options .status-low {
    color: #ff4400;
}

.sand-game-component .sand-game-options .status-poor {
    color: red;
}

.sand-game-component .sand-game-views:has(div) {
    margin: 1em 0 2em;
}

.sand-game-component .sand-game-views .btn-outline-secondary:hover {
    background-color: #ebebeb;
}

.sand-game-component .sand-game-views .adjust-scale {
    vertical-align: top;
    margin-right: 0.5em;
    height: 46px;
}

.sand-game-component .sand-game-views .scenes {
    display: inline;
}

.sand-game-component .sand-game-views .scenes .scene {
    color: black;
    cursor: pointer;
    display: inline-block;
    margin: 0 0.5em 0.5em 0;
    height: 46px;
    user-select: none;
    white-space: nowrap;
}

.sand-game-component .sand-game-views .scenes .scene .card-title {
    font-weight: 500;
    font-size: 100%;
}

.sand-game-component .sand-game-views .scenes .scene.visited-scene {
    background-color: #ebebeb;
}

.sand-game-component .sand-game-views .scenes .scene.visited-scene:hover {
    background-color: #dedede;
}

.sand-game-component .sand-game-views .scenes .scene.selected-scene {
    background-color: #ffffbd;
}

.sand-game-component .sand-game-views .scenes .scene.selected-scene:hover {
    background-color: #e8e8a5;
}

.sand-game-component .sand-game-views .card {
    margin: 0.5em 0;
}

.sand-game-component .element-size-options {
    white-space: nowrap;
}

.sand-game-component .element-size-options .card {
    cursor: pointer;
    display: inline-block;
    margin: 0.5em 0.5em 0.5em 0;
    width: 48pt;
    height: 32pt;
    user-select: none;
}

.sand-game-component .element-size-options .card img {
    width: 47pt;
    height: 31pt;
    border-radius: 0.25rem;
}

.sand-game-component .element-size-options .card:hover {
    background-color: #ebebeb;
}

.sand-game-component .element-size-options .card.selected-size {
    background-color: #ffffbd;
}

.sand-game-component .element-size-options .card.selected-size:hover {
    background-color: #e8e8a5;
}

.sand-game-component .test-tools .btn {
    margin-right: 0.5em;

    padding: 0 0.5em 0 0.5em;
    font-size: 75%;
}

.sand-game-component .sand-game-templates .template-button {
    margin-right: 0.5em;
    margin-top: 0.5em;
    background-position: center top;
    background-repeat: no-repeat;
    background-position-y: 5px;
    width: 100px;
    height: 100px;
    padding-top: 50px;  /* Label location */
}
