
.sand-game-component {
}

.sand-game-component .sand-game-canvas {
    margin-top: 8pt;
    outline: 1px solid #b7b7b7;
    cursor: crosshair;
    user-select: none;
}

.sand-game-component .sand-game-brushes {
    display: inline-block;
}

.sand-game-component .sand-game-brushes .badge {
    margin-right: 3pt;
}

.sand-game-component .sand-game-brushes .badge.air {
    background-color: rgb(230, 230, 230);
    color: black;
}

.sand-game-component .sand-game-brushes .badge.sand {
    background-color: rgb(183, 166, 67);
}

.sand-game-component .sand-game-brushes .badge.soil {
    background-color: rgb(142, 104, 72);
}

.sand-game-component .sand-game-brushes .badge.gravel {
    background-color: rgb(101, 101, 101);
}

.sand-game-component .sand-game-brushes .badge.wall {
    background-color: rgb(56, 56, 56);
}

.sand-game-component .sand-game-brushes .badge.water {
    background-color: rgb(4, 135, 186);
}

.sand-game-component .sand-game-modes {
    margin-left: 1em;
    display: inline-block;
}

.sand-game-component .sand-game-canvas-size-options,
.sand-game-component .sand-game-performance-options {
    white-space: nowrap;
    display: inline-block;
}

.sand-game-component .sand-game-options .sand-game-counter,
.sand-game-component .sand-game-options .sand-game-size {
    font-size: small;
    color: gray;
}

.sand-game-component .sand-game-options .change-canvas-size-button {
    margin-right: 2em;
}

.sand-game-component .sand-game-options .change-canvas-size-button,
.sand-game-component .sand-game-options .start-button,
.sand-game-component .sand-game-options .stop-button {
    font-size: small;
    margin-left: 0.75em;
}

.sand-game-component .card {
    margin: 2em 0;
}

.sand-game-component textarea {
    font-family: monospace;
}

.tooltip-inner {
    max-width: 350px;
    text-align: left;
}
