
/*
 * @author Patrik Harag
 * @version 2024-01-17
 */

.sand-game-component {
}

.sand-game-component.drag-and-drop-highlight {
    outline: rgba(0, 129, 255, 0.76) dashed thick;
    outline-offset: 2px;
}

.sand-game-component .sand-game-canvas-component .sand-game-canvas {
    outline: 1px solid #b7b7b7;
}

@media (max-width: 575px) {
    .sand-game-component .sand-game-canvas-component {
        margin-left: -15px;
        margin-right: -15px;
    }

    .sand-game-component .sand-game-canvas-component .sand-game-canvas {
        outline: none;
    }
}

.sand-game-component .sand-game-canvas-overlay {
    cursor: crosshair;
    user-select: none;
}

.sand-game-component .sand-game-canvas-overlay .sand-game-marker {
    padding: 3pt;
    font-size: small;
}

.sand-game-component .sand-game-canvas-overlay .sand-game-splash {
    background-color: rgba(160, 160, 160, 0.8);
    padding: 1em;
    cursor: initial;
    pointer-events: initial;

    /* position */
    top: 20%;
    position: relative;
    margin: auto;

    /* size */
    width: 80%;
    min-height: 100px;

    flex-direction: column;
    display: flex;
}

.sand-game-component .sand-game-canvas-overlay .sand-game-objectives-list {
    background-color: rgba(160, 160, 160, 0.8);
    padding: 1em;

    /*cursor: initial;*/
    /*pointer-events: initial;*/

    /* position */
    top: 10pt;
    right: 10pt;
    margin-left: 10pt;
    position: absolute;
}

.sand-game-component .sand-game-canvas-overlay .sand-game-objectives-list .sand-game-objective-icon {
    margin-right: 0.5em;
    vertical-align: 0.1em;
}

.sand-game-component .sand-game-canvas-overlay .sand-game-splash .sand-game-splash-content {
    flex: 1 1 auto;
}

.sand-game-component .sand-game-canvas-overlay .sand-game-splash .sand-game-splash-footer {
}

.sand-game-component .sand-game-tools {
    display: inline-block;
    user-select: none;
}

.sand-game-component .btn-sand-game-tool {
    margin-right: 3pt;
    line-height: 2;
    font-weight: 700;
    padding: 0 0.4em 0 0.4em;
    font-size: 75%;
    border: none;
    margin-bottom: 4pt
}

.sand-game-component .btn.erase {
    background-color: rgb(230, 230, 230);
    color: black;
}

.sand-game-component .btn.move {
    background-color: rgb(230, 230, 230);
    color: black;
    margin-right: 0.8em;
}

.sand-game-component .btn.sand {
    background-color: rgb(183, 166, 67);
}

.sand-game-component .btn.soil {
    background-color: rgb(142, 104, 72);
}

.sand-game-component .btn.gravel {
    background-color: rgb(101, 101, 101);
}

.sand-game-component .btn.wall,
.sand-game-component .btn.rock {
    background-color: rgb(56, 56, 56);
}

.sand-game-component .btn.wood {
    background-color: rgb(87, 48, 5);
}

.sand-game-component .btn.water {
    background-color: rgb(4, 135, 186);
}

.sand-game-component .btn.fire {
    background-color: #ff5900;
}

.sand-game-component .btn.fire.selected {
    outline: black solid 1px;
}

.sand-game-component .btn.meteor {
    background-color: #ff5900;
}

.sand-game-component .btn.meteor.selected {
    outline: black solid 1px;
}

.sand-game-component .btn.template {
    background-color: #82309d;
    margin-left: 0.4em;
}

.sand-game-component .btn.selected {
    outline: red solid 1px;
}

.sand-game-component .sand-game-options {
    white-space: nowrap;
    display: inline-block;
}

.sand-game-component .sand-game-options .btn {
    color: gray;
    padding: 0 0.5em 0 0.5em;
    margin-right: 0.5em;
    vertical-align: baseline;
    font-size: 75%;
}

.sand-game-component .sand-game-options .btn.btn-link {
    text-decoration: none;
}

.sand-game-component .sand-game-options .btn .bi {
    width: 12px;
    height: 12px;
    vertical-align: -1px;
}

.sand-game-component .sand-game-options .dropdown-menu .btn {
    font-size: 100%;
}

.sand-game-component .sand-game-options .dropdown-menu {
    user-select: none;
    font-size: small;
}

@media (max-width: 575px) {
    .sand-game-component .sand-game-options .status-label {
        display: none;
    }
}

.sand-game-component .sand-game-options .status-stopped {
    color: blue;
}

.sand-game-component .sand-game-options .status-best {
    color: green;
}

.sand-game-component .sand-game-options .status-good {
    color: green;
}

.sand-game-component .sand-game-options .status-medium {
    color: #ffcc00;
}

.sand-game-component .sand-game-options .status-low {
    color: #ff4400;
}

.sand-game-component .sand-game-options .status-poor {
    color: red;
}

.sand-game-component .sand-game-views:has(div) {
    margin: 1em 0 2em;
}

.sand-game-component .sand-game-views .adjust-scale {
    vertical-align: top;
    margin-right: 0.5em;
    height: 46px;
}

.sand-game-component .sand-game-views .adjust-scale:hover {
    background-color: #ebebeb;
}

.sand-game-component .sand-game-views .adjust-scale svg {
    width: 30px;
    height: 30px;
}

.sand-game-component .sand-game-views .scenes-label {
    color: gray;
    font-size: small;
    transform: rotate(-70deg);
    display: inline-block;
    user-select: none;

    padding-left: 6px;
    margin-left: -6px;
    margin-right: -3px;
}

.sand-game-component .sand-game-views .scenes {
    display: inline;
}

.sand-game-component .sand-game-views .scenes .scene {
    color: black;
    cursor: pointer;
    display: inline-block;
    margin: 0 0.5em 0.5em 0;
    height: 46px;
    user-select: none;
    white-space: nowrap;
}

.sand-game-component .sand-game-views .scenes .scene .card-title {
    font-weight: 500;
    font-size: 100%;
}

.sand-game-component .sand-game-views .scenes .scene:hover {
    background-color: #ebebeb;
}

.sand-game-component .sand-game-views .scenes .scene.visited-scene {
    background-color: #ebebeb;
}

.sand-game-component .sand-game-views .scenes .scene.visited-scene:hover {
    background-color: #dedede;
}

.sand-game-component .sand-game-views .scenes .scene.selected-scene {
    background-color: #ffffbd;
}

.sand-game-component .sand-game-views .scenes .scene.selected-scene:hover {
    background-color: #e8e8a5;
}

.sand-game-component .sand-game-views .card {
    margin: 0.5em 0;
}

.sand-game-component .element-size-options {
    white-space: nowrap;
}

.sand-game-component .element-size-options .card {
    cursor: pointer;
    display: inline-block;
    margin: 0.5em 0.5em 0.5em 0;
    width: 48pt;
    height: 32pt;
    user-select: none;
}

.sand-game-component .element-size-options .card img {
    width: 47pt;
    height: 31pt;
    border-radius: 0.25rem;
}

.sand-game-component .element-size-options .card:hover {
    background-color: #ebebeb;
}

.sand-game-component .element-size-options .card.selected-size {
    background-color: #ffffbd;
}

.sand-game-component .element-size-options .card.selected-size:hover {
    background-color: #e8e8a5;
}

.sand-game-component .test-tools .btn {
    margin-right: 3pt;
    margin-bottom: 3pt;
    line-height: 2;
    padding: 0 0.4em 0 0.4em;
    font-size: 75%;
}

.sand-game-component .sand-game-templates .template-button {
    margin-right: 0.5em;
    margin-top: 0.5em;
    background-position: center top;
    background-repeat: no-repeat;
    background-position-y: 5px;
    width: 100px;
    height: 100px;
    padding-top: 50px;  /* Label location */
}
